<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Task Firebase Node</title>
</head>
<body>

    <div class="container p-4">
        <div class="row">
            {{{body}}}
        </div>
    </div>
    
</body>
</html>